html {
  font-size: 100%;
}

body {
  font-family: 'Roboto', 'Lato', -apple-system, BlinkMacSystemFont,
    'Helvetica Neue', Verdana, Arial, Geneva, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
